.LetterDisplay {
  position: relative;

  span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #666;
    line-height: 40px;
    text-align: center;
    color: black;
    font-size: 24px;
  }

  span + span {
    margin-left: 10px;
  }
}

