.ControlPanel {
    padding: 40px;

    & > div:nth-child(2) {
        margin-top: 20px;
    }

    & > div:nth-child(3) {
        margin-top: 40px;
    }

    & > div:nth-child(4) {
        margin-top: 152px;
    }
}