.PlayingPanel {
  & > * {
    height: 50%;
  }

  .your-result {
    box-sizing: border-box;
    padding: 40px;
    text-align: center;

    .LetterDisplay {
      display: inline-block;
      margin-top: 20px;
    }

    .result {
      text-transform: uppercase;
      margin-top: 40px;
      font-size: 24px;
    }
  }

  .input .GuessInput {
    height: 100%;
    box-sizing: border-box;
    padding: 20px 40px;
    text-align: center;

    button {
      margin-top: 20px;
    }
  }

  .Title {
    text-align: left;
  }
}