.App {
  width: 800px;
  height: 500px;
  position: relative;

  & > * {
    border: 4px solid rgb(161, 32, 36);
    height: 100%;
    box-sizing: border-box;
  }

  .PlayingPanel {
    width: 60%;
    background-color: rgb(178, 213, 177);
    border-right: none;
  }

  .ControlPanel {
    width: 40%;
    position: absolute;
    top: 0;
    left: 60%;
    background-color: rgb(254, 254, 199);
  }
}